.header_container {
    border: 2px solid black;
    height: 96vh;
    width: 100%;
    background-image: url('../../images/header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    .navbar_container {
        border: 3px solid orange;
        flex: 0 0 15%;
    }
    
    .header_content {
        border: 3px solid red;
        flex: 0 0 85%;
    }
}

