@import '../../settings.scss';

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    .page_item {
        text-decoration: none;
        color: $color-blue;
        padding: 0 10px;
        border: 1px solid $color-blue;
        border-radius: 10px;
        margin: 0 10px;
        cursor: pointer;
    }
    .page_item_active {
        background-color: $color-blue;
        color: $color-white;
    }
}
