@import '../../settings.scss';

.searchbar_container {
    margin: 0 auto;
    margin-top: -60px;
    height: 60px;
    display: flex;
    justify-content: center;
    .searchbar_input {
        width: 600px;
        background-color: transparent;
        color: $color-blue;
        border: 2px solid $color-blue;
        border-radius: 10px;
        font-family: $font-main;
        padding: 10px;
        font-size: 16px;
        box-shadow: $box-shadow;
        outline: none;
    }
}
