@import '../../settings.scss';

.contact_nav_container {
    background-color: $color-blue;
    background: $color-gradient;
    background: $linear-gradient;
    height: 80px;
}
.contact_content_container {
    min-height: 572px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 80px;
    margin: 20px 0;
    .contact_photo {
        flex: 0 0 40%;
        background-image: url('../../../public/images/window.jpg');
        background-size: 100% 100%;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .contact_form_container {
        border: 2px solid $color-blue;
        flex: 0 0 40%;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 30px;
        .contact_form {
            height: 300px;
            width: 330px;
            .form_message {
                font-family: $font-main;
                font-size: 16px;
                color: $color-blue;
            }
            input,
            textarea {
                width: 100%;
                background-color: transparent;
                color: $color-blue;
                border: 2px solid $color-blue;
                border-radius: 10px;
                font-family: $font-main;
                padding: 10px;
                font-size: 14px;
                box-shadow: $box-shadow;
                outline: none;
                margin-top: 10px;
                resize: none;
            }
            input[type='submit'] {
                background-color: $color-blue;
                color: $color-white;
                margin-top: 30px;
                cursor: pointer;
                &:disabled {
                    background-color: $color-grey;
                    border-color: $color-grey;
                    cursor: auto;
                }
            }
        }
    }
}

@include tablet {
    .contact_content_container {
        padding: 0;
        margin: 0;
        flex-direction: column;
        height: 1072px;
        justify-content: flex-start;
        .contact_photo {
            border-top-left-radius: 0px;
            border-bottom-right-radius: 10px;
        }
        .contact_form_container {
            padding: 60px 30px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 0px solid $color-blue;
            .contact_form {
                width: 420px;
            }
        }
    }
}

@include mobile {
    .contact_content_container {
        padding: 0;
        margin: 0;
        flex-direction: column;
        height: 1072px;
        justify-content: flex-start;
        .contact_photo {
            border-top-left-radius: 0px;
            border-bottom-right-radius: 10px;
        }
        .contact_form_container {
            padding: 60px 30px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 0px solid $color-blue;
            .contact_form {
                width: 420px;
            }
        }
    }
}
