@import '../../settings.scss';

.trip_nav_container {
    background-color: $color-blue;
    background: $color-gradient;
    background: $linear-gradient;
    height: 120px;
}
.trip_content_container {
    min-height: 572px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 120px;
    margin: 40px 0;
    .trip_photo {
        border: 3px solid transparent;
        flex: 0 0 40%;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-size: 100% 100%;
        border: 0px;
    }
    .trip_content {
        border: 3px solid $color-blue;
        border-left-color: transparent;
        flex: 0 0 40%;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-family: $font-main;
        color: $color-blue;
        h1 {
            text-align: center;
        }
        p {
            font-size: 22px;
            padding: 20px 40px;
        }
        .trip_details {
            font-size: 22px;
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
        }
        .trip_btn_container {
            display: flex;
            justify-content: flex-end;
            padding-right: 40px;
            margin-bottom: 60px;
            height: 40px;
        }
    }
}
