@import '../../settings.scss';

.navigation {
    display: flex;
    height: 100%;
    .logo_container {
        flex: 0 0 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            display: inline-block;
            color: $color-white;
            font-size: 28px;
            text-align: center;
            font-family: $font-logo;
        }
    }
    .nav_container {
        flex: 0 0 70%;
        height: 100%;
        color: $color-white;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 16px;
        .nav_items {
            margin: 0 30px;
            font-family: $font-main;
        }
    }
    .nav_links {
        text-decoration: none;
        color: $color-white;
    }
    .login_container {
        flex: 0 0 15%;
        height: 100%;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        .cart_icon {
            cursor: pointer;
            font-size: 20px;
            padding-left: 20px;
            visibility: hidden;
        }
    }
}

@include tablet {
    .navigation {
        max-width: $max-tablet-width;
        .login_container {
            display: none;
        }
        .logo_container {
            .logo {
                font-size: 36px;
            }
        }
        .nav_container {
            flex: 0 0 40%;
            font-size: 18px;
            .nav_items {
                margin: 0 20px;
            }
        }
    }
}

@include mobile {
    .navigation {
        max-width: $max-mobile-width;
        .login_container {
            display: none;
        }
    }
}
