@import '../../settings.scss';

.navigation {
    display: flex;
    height: 100%;
    .logo_container {
        flex: 0 0 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            display: inline-block;
            color: $color-white;
            font-size: 28px;
            text-align: center;
            font-family: $font-logo;
        }
    }
    .nav_container {
        flex: 0 0 70%;
        height: 100%;
        color: $color-white;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 16px;
        .nav_items {
            margin: 0 30px;
            font-family: $font-main;
        }
    }
    .nav_links {
        text-decoration: none;
        color: $color-white;
    }
    .login_container {
        flex: 0 0 15%;
        height: 100%;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        .cart_icon {
            cursor: pointer;
            font-size: 20px;
            padding-left: 20px;
            visibility: hidden;
        }
    }
}

@include tablet {
    .navigation {
        height: 80px;
        width: 100%;
        position: relative;
        .login_container {
            flex: 0 0 85%;
            display: flex;
            justify-content: flex-end;
            .cart_icon {
                visibility: visible;
                font-size: 36px;
                padding-right: 20px;
            }
        }
        .logo_container {
            padding: 20px;
            .logo {
                font-size: 24px;
            }
        }
        .nav_container {
            font-size: 24px;
            height: 140px;
            visibility: hidden;
            width: 100%;
            border-top: 1px solid $color-white;
            position: absolute;
            background-color: $color-blue;
            background: $color-gradient;
            background: $linear-gradient;
            top: 80px;
            flex-direction: column;
            .nav_items {
                margin: 2px 20px;
            }
        }
        .nav_container_show {
            visibility: visible;
        }
    }
}

@include mobile {
    .navigation {
        height: 80px;
        width: 100%;
        position: relative;
        .login_container {
            flex: 0 0 75%;
            display: flex;
            justify-content: flex-end;
            .cart_icon {
                visibility: visible;
                font-size: 36px;
                padding-right: 20px;
            }
        }
        .logo_container {
            padding: 20px;
            width: 100%;
            .logo {
                font-size: 24px;
            }
        }
        .nav_container {
            font-size: 24px;
            height: 140px;
            visibility: hidden;
            width: 100%;
            border-top: 1px solid $color-white;
            position: absolute;
            background-color: $color-blue;
            background: $color-gradient;
            background: $linear-gradient;
            top: 80px;
            flex-direction: column;
            .nav_items {
                margin: 2px 20px;
            }
        }
        .nav_container_show {
            visibility: visible;
        }
    }
}
