@import '../../settings.scss';

.navigation {
    display: flex;
    height: 100%;
    .logo_container {
        flex: 0 0 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            padding-top: 6px;
            display: inline-block;
            color: $color-white;
            font-size: 36px;
            text-align: center;
            font-family: $font-logo;
        }
    }
    .nav_container {
        flex: 0 0 70%;
        height: 100%;
        color: $color-white;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 24px;
        .nav_items {
            margin: 0 30px;
            font-family: $font-main;
        }
    }
    .nav_links {
        text-decoration: none;
        color: $color-white;
    }
    .login_container {
        flex: 0 0 15%;
        height: 100%;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        .cart_icon {
            font-size: 24px;
            padding-right: 20px;
        }
    }
}
